{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home | MyRestaurant</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="{% static 'scripts.js' %}"></script>
</head>
<body>

  <!-- Navbar -->
  <div class="navbar">
    <div class="logo">
      <img src="{% static 'logo.jpg' %}" alt="Hanvik Restaurant Logo" >

    </div>
    <div class="nav-links">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'about' %}">About</a>
      <a href="{% url 'services' %}">Services</a>
      <a href="{% url 'contact' %}">Contact</a>
      <a href="{% url 'cart' %}">Cart</a>
      <a href="{% url 'payment' %}">Payment</a>
  
    </div>
  </div>

  <!-- Hero Section -->
  <div class="hero">
    <div class="hero-text">
      <h1>Welcome to HANVIK'S BIRYANI</h1>
      <p>Delicious food, warm atmosphere, and great service.</p>
      <a href="{% url 'services' %}" class="cta-button">Explore Our Menu</a>
    </div>
  </div>

</body>
</html>
